<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <br />
            <div class="row">
                <div *ngFor="let i of count" class="col-md-2 ml-auto mr-auto">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="../assets/img/faces/joe-gardner-2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Book title</h5>
                            <p class="card-text">short description</p>
                            <a href="#" class="btn btn-primary">Go to detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>